@model System.Web.Mvc.HandleErrorInfo
@{

    ViewBag.Title = "Error";
}

<div class="list-sfs-holder container">
    <div class="alert alert-error">
        Đã có lỗi xảy ra. Vui lòng liên hệ người quản trị để biết thêm chi tiết
        <div class="buttons">
            <a href="/">Về Trang Chủ</a>
        </div>
    </div>
   
</div>
