@model WebQLKhoaHoc.Models.SignUpModel

@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="~/Image/hcmup_edu.ico" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/admin-login.css" rel="stylesheet" />
</head>
<body>
    <form action="SignUp" method="post" class="Form">
        <h1 class="Form-title">Login</h1>

        <div class="Form-fields">
            <input type="text"
                   id="ho"
                   name="ho"
                   class="ControlInput ControlInput--ho"
                   placeholder="Họ"
                   required>
            <label for="text"
                   class="Control-label Control-label--ho">Họ Nhà Khoa Học</label>

            <input type="text"
                   id="ten"
                   name="ten"
                   class="ControlInput ControlInput--ten"
                   placeholder="Tên"
                   required>
            <label for="text"
                   class="Control-label Control-label--ten">Tên Nhà Khoa Học</label>


            <input type="text"
                   id="email"
                   name="email"
                   class="ControlInput ControlInput--email"
                   placeholder="Email Chính"
                   required>
            <label for="text"
                   class="Control-label Control-label--email">Email</label>


         

            <input type="password"
                   id="password"
                   name="password"
                   placeholder="Password"
                   autocomplete="off"
                   required
                   class="ControlInput ControlInput--password">

            <label for="password"
                   class="Control-label Control-label--password">Password</label>

            @if (ViewBag.Error != null)
            {
                <div class="Control-requirements">
                    @ViewBag.Error
                </div>
            }


            <button type="submit" class="Button Form-submit">
                Sign Up
                <svg width='26px' height='26px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="Button-spinner">
                    <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                    <circle cx="50" cy="50" r="40" stroke="#fff" fill="none" stroke-width="18" stroke-linecap="round"></circle>
                    <circle cx="50" cy="50" r="40" stroke="#e7542b" fill="none" stroke-width="9" stroke-linecap="round" class="spinner"></circle>
                </svg>
            </button>

            <a href="/" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-log-out"></span> Back To Home Page
            </a>


        </div>
    </form>
</body>

</html>
