@model List<List<Object>>
@{
    ViewBag.Title = "Thống kê - CSDL Khoa học";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}

<div class="main-content">
    <!-- Section: About -->
    <section class="">
        <div class="container">
            <div class="section-content">

                <div class="panel">
                    <div class="panel-body">
                        <div>
                            <form action="book" class="form-horizontal" method="post" accept-charset="utf-8">
                                <div class="form-group">
                                    <div class="col-md-2 text-right">
                                        <label class="control-label">Thống kê theo:</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select name="cachThongKe" id="cachThongKe" class="form-control">
                                            <option value="phanloai" selected>Phân loại sách</option>
                                            <option value="nhaxuatban">Nhà xuất bản</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-2 text-right">
                                        <label class="control-label">Từ ngày:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="date" class="form-control  datepicker" name="from_date" id="from_date" value="" autocomplete="off">
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <label class="control-label">Đến ngày:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="date" class="form-control datepicker" name="to_date" id="to_date" value="" autocomplete="off">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-9">
                                        <button type="button" class="btn btn-primary" id="btnThongKe">Thống kê</button>
                                    </div>
                                </div>
                            </form>
                            <div>
                                <div class="text-center">
                                    <span class="statistic-title">
                                        BIỂU THỐNG KÊ SÁCH, GIÁO TRÌNH
                                    </span>
                                </div>
                                <input type="hidden" id="dataChart" value="@Json.Encode(Model)" />
                                <div class="panel">
                                    <div class="panel-body">
                                        <div id="sachCharts"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/charts")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnThongKe').click(function () {
                var cachThongKe = $('#cachThongKe').val();
                var from_date = $('#from_date').val();
                var to_date = $('#to_date').val();
                GetChart(cachThongKe, from_date, to_date);
            });
        });
        function GetChart(cachThongKe, from_date, to_date) {
            $.ajax({
                url: "/Charts/DataSachCharts",
                type: "GET",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                data: {
                    "cachThongKe": cachThongKe,
                    "from_date": from_date,
                    "to_date": to_date
                },
                dataType: 'json',
                async: true,
                success: function (data) {
                    //console.log('success');
                    //console.log(data);
                    $('#sachCharts').html('');
                    googleChart(data, 'pie', 'sachCharts');
                }

            });
        }
    </script>
}