USE [QLKhoaHoc]
GO
/****** Object:  Table [dbo].[BacDaoTao]    Script Date: 10/03/2019 16:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BacDaoTao](
	[MaBacDT] [int] IDENTITY(1,1) NOT NULL,
	[TenBacDT] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__BacDaoTao] PRIMARY KEY CLUSTERED 
(
	[MaBacDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BaiBao]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BaiBao](
	[MaBaiBao] [int] IDENTITY(1,1) NOT NULL,
	[MaISSN] [varchar](50) NULL,
	[TenBaiBao] [ntext] NOT NULL,
	[LaTrongNuoc] [bit] NULL,
	[CQXuatBan] [nvarchar](50) NULL,
	[MaLoaiTapChi] [int] NULL,
	[MaCapTapChi] [int] NULL,
	[NamDangBao] [date] NULL,
	[TapPhatHanh] [nvarchar](50) NULL,
	[SoPhatHanh] [nvarchar](50) NULL,
	[TrangBaiBao] [varchar](50) NULL,
	[LienKetWeb] [nvarchar](max) NULL,
	[LinkFileUpLoad] [nvarchar](max) NULL,
 CONSTRAINT [PK__BaiBao] PRIMARY KEY CLUSTERED 
(
	[MaBaiBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CapDeTai]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CapDeTai](
	[MaCapDeTai] [int] IDENTITY(1,1) NOT NULL,
	[TenCapDeTai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__CapDeTai] PRIMARY KEY CLUSTERED 
(
	[MaCapDeTai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CapTapChi]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CapTapChi](
	[MaCapTapChi] [int] IDENTITY(1,1) NOT NULL,
	[TenCapTapChi] [nvarchar](100) NOT NULL,
	[DanhMucNhom] [nvarchar](100) NULL,
 CONSTRAINT [PK__CapTapChi] PRIMARY KEY CLUSTERED 
(
	[MaCapTapChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChucNang]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucNang](
	[MaChucNang] [int] NOT NULL,
	[TenChucNang] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_ChucNang] PRIMARY KEY CLUSTERED 
(
	[MaChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChuyenMon]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenMon](
	[MaChuyenMon] [int] IDENTITY(1,1) NOT NULL,
	[TenChuyenMon] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__ChuyenMon] PRIMARY KEY CLUSTERED 
(
	[MaChuyenMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChuyenMonNKH]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenMonNKH](
	[MaNKH] [int] NOT NULL,
	[MaChuyenMon] [int] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
 CONSTRAINT [PK__ChuyenMonNKH] PRIMARY KEY CLUSTERED 
(
	[MaNKH] ASC,
	[MaChuyenMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChuyenNganh]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenNganh](
	[MaChuyenNganh] [int] IDENTITY(1,1) NOT NULL,
	[TenChuyenNganh] [nvarchar](50) NOT NULL,
	[MaNganhDaoTao] [int] NULL,
 CONSTRAINT [PK__ChuyenNganh] PRIMARY KEY CLUSTERED 
(
	[MaChuyenNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhGiaNgoaiNgu]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DanhGiaNgoaiNgu](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [varchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_DanhGiaNgoaiNgu] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DeTai]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DeTai](
	[MaDeTai] [int] IDENTITY(1,1) NOT NULL,
	[MaDeTaiHoSo] [varchar](50) NULL,
	[TenDeTai] [nvarchar](100) NOT NULL,
	[MaLoaiDeTai] [int] NULL,
	[MaCapDeTai] [int] NULL,
	[MaDVChuTri] [int] NULL,
	[MaDonViQLThucHien] [nvarchar](50) NULL,
	[MaLinhVuc] [int] NULL,
	[MucTieuDeTai] [nvarchar](max) NULL,
	[NoiDungDeTai] [nvarchar](max) NULL,
	[KetQuaDeTai] [nvarchar](max) NULL,
	[NamBD] [date] NULL,
	[NamKT] [date] NULL,
	[MaXepLoai] [int] NULL,
	[MaTinhTrang] [int] NULL,
	[MaPhanLoaiSP] [int] NULL,
	[LienKetWeb] [nvarchar](max) NULL,
	[LinkFileUpload] [nvarchar](max) NULL,
	[CoQuanTaiTro] [nvarchar](100) NULL,
 CONSTRAINT [PK__DeTai] PRIMARY KEY CLUSTERED 
(
	[MaDeTai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DonViChuTri]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonViChuTri](
	[MaDVChuTri] [int] IDENTITY(1,1) NOT NULL,
	[TenDVChuTri] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
 CONSTRAINT [PK__DonViChu] PRIMARY KEY CLUSTERED 
(
	[MaDVChuTri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DonViQL]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DonViQL](
	[MaDonVi] [nvarchar](50) NOT NULL,
	[TenDonVI] [nvarchar](50) NOT NULL,
	[DiaChiCQ] [nvarchar](50) NULL,
	[DienThoaiCQ] [varchar](50) NULL,
	[EmailCQ] [varchar](50) NULL,
 CONSTRAINT [PK__DonViQL] PRIMARY KEY CLUSTERED 
(
	[MaDonVi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DSBaiBaoDeTai]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSBaiBaoDeTai](
	[MaTT] [int] IDENTITY(1,1) NOT NULL,
	[MaDeTai] [int] NOT NULL,
	[MaBaiBao] [int] NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK__DSBaiBao__CE33A321FDE42CDD] PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DSNguoiThamGiaBaiBao]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSNguoiThamGiaBaiBao](
	[MaTT] [int] IDENTITY(1,1) NOT NULL,
	[MaBaiBao] [int] NOT NULL,
	[MaNKH] [int] NOT NULL,
	[LaTacGiaChinh] [bit] NULL,
	[NhiemVu] [ntext] NULL,
 CONSTRAINT [PK__DSNguoiT] PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DSNguoiThamGiaDeTai]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSNguoiThamGiaDeTai](
	[MaTT] [int] IDENTITY(1,1) NOT NULL,
	[MaDeTai] [int] NOT NULL,
	[MaNKH] [int] NOT NULL,
	[LaChuNhiem] [bit] NULL,
	[NhiemVu] [ntext] NULL,
 CONSTRAINT [PK__DSNguoiTG] PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DSPhatMinhNKH]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSPhatMinhNKH](
	[MaTT] [int] IDENTITY(1,1) NOT NULL,
	[MaNKH] [int] NULL,
	[MaPM] [int] NULL,
	[LaChuSoHuu] [bit] NULL,
	[VaiTro] [nvarchar](50) NULL,
 CONSTRAINT [PK_DSPhatMinhNKH] PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DSTacGia]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSTacGia](
	[MaTT] [int] IDENTITY(1,1) NOT NULL,
	[MaSach] [int] NOT NULL,
	[MaNKH] [int] NOT NULL,
	[LaChuBien] [bit] NULL,
	[PhanCong] [ntext] NULL,
 CONSTRAINT [PK_DSTacGia] PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HocHam]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocHam](
	[MaHocHam] [int] IDENTITY(1,1) NOT NULL,
	[TenVietTat] [nvarchar](10) NULL,
	[TenHocHam] [nvarchar](50) NULL,
 CONSTRAINT [PK__HocHam] PRIMARY KEY CLUSTERED 
(
	[MaHocHam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HocVi]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HocVi](
	[MaHocVi] [int] IDENTITY(1,1) NOT NULL,
	[TenVietTat] [varchar](10) NULL,
	[TenHocVi] [nvarchar](50) NULL,
 CONSTRAINT [PK__HocVi] PRIMARY KEY CLUSTERED 
(
	[MaHocVi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KinhPhiDeTai]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KinhPhiDeTai](
	[MaPhi] [int] IDENTITY(1,1) NOT NULL,
	[MaDeTai] [int] NOT NULL,
	[LoaiKinhPhi] [nvarchar](max) NULL,
	[NamTiepNhan] [date] NULL,
	[SoTien] [int] NULL,
	[LoaiTien] [varchar](10) NULL,
 CONSTRAINT [PK_KinhPhiDeTai] PRIMARY KEY CLUSTERED 
(
	[MaPhi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LinhVuc]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LinhVuc](
	[MaLinhVuc] [int] IDENTITY(1,1) NOT NULL,
	[TenLinhVuc] [nvarchar](100) NULL,
	[MaNhomLinhVuc] [int] NULL,
 CONSTRAINT [PK__LinhVuc] PRIMARY KEY CLUSTERED 
(
	[MaLinhVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LinhVucBaiBao]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LinhVucBaiBao](
	[MaBaiBao] [int] NOT NULL,
	[MaLinhVuc] [int] NOT NULL,
 CONSTRAINT [PK__LinhVuc_BaiBao] PRIMARY KEY CLUSTERED 
(
	[MaBaiBao] ASC,
	[MaLinhVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LinhVucNghienCuuNKH]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LinhVucNghienCuuNKH](
	[MaNKH] [int] NOT NULL,
	[MaLinhVuc] [int] NOT NULL,
 CONSTRAINT [PK__LinhVuc_NKH] PRIMARY KEY CLUSTERED 
(
	[MaNKH] ASC,
	[MaLinhVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiHinhDeTai]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHinhDeTai](
	[MaLoaiDT] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiDT] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiHinhDeTai] PRIMARY KEY CLUSTERED 
(
	[MaLoaiDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NgachVienChuc]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NgachVienChuc](
	[MaNgach] [int] IDENTITY(1,1) NOT NULL,
	[TenNgach] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__NgachVienChuc] PRIMARY KEY CLUSTERED 
(
	[MaNgach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NganHang]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NganHang](
	[MaNH] [int] IDENTITY(1,1) NOT NULL,
	[TenNH] [nvarchar](100) NULL,
	[TenTiengAnh] [nvarchar](100) NULL,
	[TenVietTat] [varchar](20) NULL,
	[Website] [varchar](100) NULL,
 CONSTRAINT [PK_NganHang] PRIMARY KEY CLUSTERED 
(
	[MaNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NganHangNKH]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NganHangNKH](
	[MaNKH] [int] NOT NULL,
	[STKNH] [varchar](50) NULL,
	[MaNH] [int] NULL,
	[ChiNhanhNH] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_NganHangNKH] PRIMARY KEY CLUSTERED 
(
	[MaNKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NganhDaoTao]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NganhDaoTao](
	[MaNganhDaoTao] [int] IDENTITY(1,1) NOT NULL,
	[TenNganhDaoTao] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__NganhDaoTao] PRIMARY KEY CLUSTERED 
(
	[MaNganhDaoTao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NgoaiNguNKH]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NgoaiNguNKH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaNKH] [int] NOT NULL,
	[MaTrinhDoNN] [int] NOT NULL,
	[Doc] [int] NULL,
	[Viet] [int] NULL,
	[Noi] [int] NULL,
 CONSTRAINT [PK__NgoaiNguNKH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[Usernames] [varchar](50) NOT NULL,
	[Passwords] [varbinary](max) NULL,
	[MaNKH] [int] NULL,
	[MaChucNang] [int] NULL,
	[DateCreate] [datetime] NULL,
	[LastLogin] [datetime] NULL,
	[IsActive] [bit] NULL,
	[UsernamesQL] [varchar](50) NULL,
	[RandomKey] [varchar](10) NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[Usernames] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhaKhoaHoc]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhaKhoaHoc](
	[MaNKH] [int] IDENTITY(1,1) NOT NULL,
	[MaNKHHoSo] [varchar](100) NULL,
	[HoNKH] [nvarchar](50) NULL,
	[TenNKH] [nvarchar](50) NULL,
	[GioiTinhNKH] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[DiaChiLienHe] [nvarchar](max) NULL,
	[DienThoai] [nvarchar](50) NULL,
	[EmailLienHe] [varchar](50) NULL,
	[MaHocHam] [int] NULL,
	[MaHocVi] [int] NULL,
	[MaCNDaoTao] [int] NULL,
	[MaDonViQL] [nvarchar](50) NULL,
	[AnhCaNhan] [varbinary](max) NULL,
	[MaNgachVienChuc] [int] NULL,
 CONSTRAINT [PK__NKH] PRIMARY KEY CLUSTERED 
(
	[MaNKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhaKhoaHoc_KH]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaKhoaHoc_KH](
	[MaNKH] [int] NOT NULL,
	[HuongNghienCuu] [ntext] NULL,
	[GiaiThuong] [ntext] NULL,
	[ThamGiaToChu] [ntext] NULL,
 CONSTRAINT [PK_NhaKhoaHoc_NghienCuu] PRIMARY KEY CLUSTERED 
(
	[MaNKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[MaNXB] [int] IDENTITY(1,1) NOT NULL,
	[TenNXB] [nvarchar](50) NULL,
	[DiaChiNXB] [nvarchar](100) NULL,
	[DienThoaiNXB] [varchar](50) NULL,
	[DiaChiWeb] [varchar](50) NULL,
 CONSTRAINT [PK_NhaXuatBan] PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhomLinhVuc]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomLinhVuc](
	[MaNhomLinhVuc] [int] IDENTITY(1,1) NOT NULL,
	[TenNhomLinhVuc] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__NhomLinhVuc] PRIMARY KEY CLUSTERED 
(
	[MaNhomLinhVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhanLoaiSach]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanLoaiSach](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__PhanLoaiSach] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhanLoaiSP]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanLoaiSP](
	[MaPhanLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenPhanLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__PhanLoaiSP] PRIMARY KEY CLUSTERED 
(
	[MaPhanLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhanLoaiTapChi]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanLoaiTapChi](
	[MaLoaiTapChi] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiTapChi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__PhanLoaiTapChi] PRIMARY KEY CLUSTERED 
(
	[MaLoaiTapChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhatMinhGiaiPhap]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhatMinhGiaiPhap](
	[MaPM] [int] IDENTITY(1,1) NOT NULL,
	[TenPM] [nvarchar](100) NULL,
	[SoHieuPM] [varchar](50) NULL,
	[MotaPM] [ntext] NULL,
	[DoiTuongSuDung] [ntext] NULL,
	[QuocGiaCap] [nvarchar](50) NULL,
	[LinkLienKet] [nvarchar](max) NULL,
	[AnhScanGiayChungNhan] [varbinary](max) NULL,
	[AnhChupSanPham1] [varbinary](max) NULL,
	[AnhChupSanPham2] [varbinary](max) NULL,
 CONSTRAINT [PK_PhatMinhGiaiPhap] PRIMARY KEY CLUSTERED 
(
	[MaPM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QuaTrinhCongTac]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuaTrinhCongTac](
	[MaCT] [int] IDENTITY(1,1) NOT NULL,
	[MaNKH] [int] NOT NULL,
	[ThoiGianBD] [datetime] NULL,
	[ThoiGIanKT] [datetime] NULL,
	[TenCoQuan] [nvarchar](50) NULL,
	[TenPhongBan] [nvarchar](100) NULL,
	[DiaChiQoQuan] [nvarchar](50) NULL,
	[TinhTP] [nvarchar](50) NULL,
	[ChucVuCT] [nvarchar](100) NULL,
 CONSTRAINT [PK_QuaTrinhCongTac] PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuaTrinhDaoTao]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuaTrinhDaoTao](
	[MaQT] [int] IDENTITY(1,1) NOT NULL,
	[MaNKH] [int] NOT NULL,
	[ThoiGianBD] [datetime] NULL,
	[ThoiGianKT] [datetime] NULL,
	[MaHocVi] [int] NULL,
	[CoSoDaoTao] [nvarchar](100) NULL,
	[MaNganh] [int] NULL,
 CONSTRAINT [PK_QuaTrinhDaoTao] PRIMARY KEY CLUSTERED 
(
	[MaQT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SachGiaoTrinh]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SachGiaoTrinh](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[MaISBN] [varchar](100) NULL,
	[TenSach] [nvarchar](255) NOT NULL,
	[MaLoai] [int] NULL,
	[MaLinhVuc] [int] NULL,
	[MaNXB] [int] NULL,
	[NamXuatBan] [date] NULL,
	[Mota] [ntext] NULL,
	[AnhBia1] [varbinary](max) NULL,
	[AnhBia4] [varbinary](max) NULL,
	[AnhBiaISBN] [varbinary](max) NULL,
 CONSTRAINT [PK__SachGiaoTrinh] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TinhTrangDeTai]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhTrangDeTai](
	[MaTinhTrang] [int] IDENTITY(1,1) NOT NULL,
	[TenTinhTrang] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__TinhTrangDeTai] PRIMARY KEY CLUSTERED 
(
	[MaTinhTrang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TrinhDoNgoaiNgu]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrinhDoNgoaiNgu](
	[MaTrinhDoNN] [int] NOT NULL,
	[TenTrinhDo] [nvarchar](50) NOT NULL,
	[CapDo] [nvarchar](50) NULL,
 CONSTRAINT [PK__TrinhDoNNgu] PRIMARY KEY CLUSTERED 
(
	[MaTrinhDoNN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[XepLoai]    Script Date: 10/03/2019 16:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XepLoai](
	[MaXepLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenXepLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__XepLoai] PRIMARY KEY CLUSTERED 
(
	[MaXepLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BacDaoTao] ON 

INSERT [dbo].[BacDaoTao] ([MaBacDT], [TenBacDT]) VALUES (1, N'Phổ thông')
INSERT [dbo].[BacDaoTao] ([MaBacDT], [TenBacDT]) VALUES (2, N'Trung Cấp')
INSERT [dbo].[BacDaoTao] ([MaBacDT], [TenBacDT]) VALUES (3, N'Cao đẳng')
SET IDENTITY_INSERT [dbo].[BacDaoTao] OFF
SET IDENTITY_INSERT [dbo].[BaiBao] ON 

INSERT [dbo].[BaiBao] ([MaBaiBao], [MaISSN], [TenBaiBao], [LaTrongNuoc], [CQXuatBan], [MaLoaiTapChi], [MaCapTapChi], [NamDangBao], [TapPhatHanh], [SoPhatHanh], [TrangBaiBao], [LienKetWeb], [LinkFileUpLoad]) VALUES (1, N'27931', N'NGHIÊN CỨU CÁC TIỂU VĂN HÓA NHƯ ĐIỀU KIỆN BAN ĐẦU CỦA KỸ NĂNG LIÊN VĂN HÓA', 1, N'Tổng cục kỹ thuật', 1, 2, CAST(0xB63D0B00 AS Date), N'20', N'2', N'79', N'vnexpress.vn', N'Hội_thảo_liên_ngành_lần_4_Báo_cáo_của_Phạm_Anh_Tú.docx')
INSERT [dbo].[BaiBao] ([MaBaiBao], [MaISSN], [TenBaiBao], [LaTrongNuoc], [CQXuatBan], [MaLoaiTapChi], [MaCapTapChi], [NamDangBao], [TapPhatHanh], [SoPhatHanh], [TrangBaiBao], [LienKetWeb], [LinkFileUpLoad]) VALUES (2, N'1859-4581', N'THIẾT KẾ VÀ CHẾ TẠO GIÀN PHƠI NÔNG, HẢI SẢN THÔNG MINH', 1, N'Nông nghiệp Cơ Khí Miền Trung', 2, 3, CAST(0xA43C0B00 AS Date), N'2', N'1', N'10-17; 28-30', N'bongda24h.vn', N'mota.txt')
INSERT [dbo].[BaiBao] ([MaBaiBao], [MaISSN], [TenBaiBao], [LaTrongNuoc], [CQXuatBan], [MaLoaiTapChi], [MaCapTapChi], [NamDangBao], [TapPhatHanh], [SoPhatHanh], [TrangBaiBao], [LienKetWeb], [LinkFileUpLoad]) VALUES (3, N'2588-1191', N'ẢNH HƯỞNG CỦA NHIỆT ĐỘ ĐẾN MỘT SỐ ĐẶC ĐIỂM SINH HỌC CỦA RỆP SÁP BỘT HỒNG HẠI SẮN Phenacoccus manihoti Matile-Ferrero', 0, N'Kỹ thuậtcơ khí và chế tạo máy nông nghiệp', 3, 1, CAST(0x693C0B00 AS Date), N'	127', N'3b', N'59-9', NULL, NULL)
SET IDENTITY_INSERT [dbo].[BaiBao] OFF
SET IDENTITY_INSERT [dbo].[CapDeTai] ON 

INSERT [dbo].[CapDeTai] ([MaCapDeTai], [TenCapDeTai]) VALUES (1, N'Dự án cấp Nhà nước')
INSERT [dbo].[CapDeTai] ([MaCapDeTai], [TenCapDeTai]) VALUES (2, N'Đề tài cấp Bộ')
INSERT [dbo].[CapDeTai] ([MaCapDeTai], [TenCapDeTai]) VALUES (3, N'Đề tài cấp Tỉnh')
SET IDENTITY_INSERT [dbo].[CapDeTai] OFF
SET IDENTITY_INSERT [dbo].[CapTapChi] ON 

INSERT [dbo].[CapTapChi] ([MaCapTapChi], [TenCapTapChi], [DanhMucNhom]) VALUES (1, N'ISI', N'QT')
INSERT [dbo].[CapTapChi] ([MaCapTapChi], [TenCapTapChi], [DanhMucNhom]) VALUES (2, N'HĐCDGS', N'VN')
INSERT [dbo].[CapTapChi] ([MaCapTapChi], [TenCapTapChi], [DanhMucNhom]) VALUES (3, N'SCOPUS', N'SCOPUS')
SET IDENTITY_INSERT [dbo].[CapTapChi] OFF
INSERT [dbo].[ChucNang] ([MaChucNang], [TenChucNang], [GhiChu]) VALUES (1, N'Admin', N'Quản trị cao cấp')
INSERT [dbo].[ChucNang] ([MaChucNang], [TenChucNang], [GhiChu]) VALUES (2, N'User', N'Nhà khoa học')
INSERT [dbo].[ChucNang] ([MaChucNang], [TenChucNang], [GhiChu]) VALUES (3, N'Employer
', N'Chuyên viên')
SET IDENTITY_INSERT [dbo].[ChuyenMon] ON 

INSERT [dbo].[ChuyenMon] ([MaChuyenMon], [TenChuyenMon]) VALUES (1, N'Chuyên môn 1')
INSERT [dbo].[ChuyenMon] ([MaChuyenMon], [TenChuyenMon]) VALUES (2, N'Chuyên môn 2')
INSERT [dbo].[ChuyenMon] ([MaChuyenMon], [TenChuyenMon]) VALUES (3, N'Chuyên môn 3')
SET IDENTITY_INSERT [dbo].[ChuyenMon] OFF
INSERT [dbo].[ChuyenMonNKH] ([MaNKH], [MaChuyenMon], [NgayCapNhat]) VALUES (1, 1, CAST(0x0000A85B00000000 AS DateTime))
INSERT [dbo].[ChuyenMonNKH] ([MaNKH], [MaChuyenMon], [NgayCapNhat]) VALUES (1, 2, CAST(0x0000A85B00000000 AS DateTime))
INSERT [dbo].[ChuyenMonNKH] ([MaNKH], [MaChuyenMon], [NgayCapNhat]) VALUES (2, 3, CAST(0x0000A9FF0152BB86 AS DateTime))
SET IDENTITY_INSERT [dbo].[ChuyenNganh] ON 

INSERT [dbo].[ChuyenNganh] ([MaChuyenNganh], [TenChuyenNganh], [MaNganhDaoTao]) VALUES (1, N'Hệ thống thông ti', 1)
INSERT [dbo].[ChuyenNganh] ([MaChuyenNganh], [TenChuyenNganh], [MaNganhDaoTao]) VALUES (2, N'Khoa học máy tính', 1)
INSERT [dbo].[ChuyenNganh] ([MaChuyenNganh], [TenChuyenNganh], [MaNganhDaoTao]) VALUES (3, N'Mạng máy tính', 1)
SET IDENTITY_INSERT [dbo].[ChuyenNganh] OFF
SET IDENTITY_INSERT [dbo].[DanhGiaNgoaiNgu] ON 

INSERT [dbo].[DanhGiaNgoaiNgu] ([MaLoai], [TenLoai], [GhiChu]) VALUES (1, N'A', N'Yếu')
INSERT [dbo].[DanhGiaNgoaiNgu] ([MaLoai], [TenLoai], [GhiChu]) VALUES (2, N'B', N'Trung bình')
INSERT [dbo].[DanhGiaNgoaiNgu] ([MaLoai], [TenLoai], [GhiChu]) VALUES (3, N'C', N'Khá')
SET IDENTITY_INSERT [dbo].[DanhGiaNgoaiNgu] OFF
SET IDENTITY_INSERT [dbo].[DeTai] ON 

SET IDENTITY_INSERT [dbo].[DeTai] OFF
SET IDENTITY_INSERT [dbo].[DonViChuTri] ON 

INSERT [dbo].[DonViChuTri] ([MaDVChuTri], [TenDVChuTri], [DiaChi]) VALUES (1, N'Đại học Sư Phạm Tp Hồ Chí Minh', N'Tp HCM')
INSERT [dbo].[DonViChuTri] ([MaDVChuTri], [TenDVChuTri], [DiaChi]) VALUES (2, N'Đại học Huế', N'Thừa Thiên Hứa')
SET IDENTITY_INSERT [dbo].[DonViChuTri] OFF
INSERT [dbo].[DonViQL] ([MaDonVi], [TenDonVI], [DiaChiCQ], [DienThoaiCQ], [EmailCQ]) VALUES (N'1', N'Khoa Công nghệ Thông tin', NULL, NULL, NULL)
INSERT [dbo].[DonViQL] ([MaDonVi], [TenDonVI], [DiaChiCQ], [DienThoaiCQ], [EmailCQ]) VALUES (N'10', N'Khoa Lịch sử', NULL, NULL, NULL)
INSERT [dbo].[DonViQL] ([MaDonVi], [TenDonVI], [DiaChiCQ], [DienThoaiCQ], [EmailCQ]) VALUES (N'11', N'Khoa Ngữ văn', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DSBaiBaoDeTai] ON 

INSERT [dbo].[DSBaiBaoDeTai] ([MaTT], [MaDeTai], [MaBaiBao], [GhiChu]) VALUES (1, 1, 1, NULL)
INSERT [dbo].[DSBaiBaoDeTai] ([MaTT], [MaDeTai], [MaBaiBao], [GhiChu]) VALUES (2, 2, 2, NULL)
SET IDENTITY_INSERT [dbo].[DSBaiBaoDeTai] OFF
SET IDENTITY_INSERT [dbo].[DSNguoiThamGiaBaiBao] ON 

INSERT [dbo].[DSNguoiThamGiaBaiBao] ([MaTT], [MaBaiBao], [MaNKH], [LaTacGiaChinh], [NhiemVu]) VALUES (1, 1, 1, 1, NULL)
INSERT [dbo].[DSNguoiThamGiaBaiBao] ([MaTT], [MaBaiBao], [MaNKH], [LaTacGiaChinh], [NhiemVu]) VALUES (2, 1, 2, 0, NULL)
INSERT [dbo].[DSNguoiThamGiaBaiBao] ([MaTT], [MaBaiBao], [MaNKH], [LaTacGiaChinh], [NhiemVu]) VALUES (3, 2, 3, 1, NULL)
SET IDENTITY_INSERT [dbo].[DSNguoiThamGiaBaiBao] OFF
SET IDENTITY_INSERT [dbo].[DSNguoiThamGiaDeTai] ON 

INSERT [dbo].[DSNguoiThamGiaDeTai] ([MaTT], [MaDeTai], [MaNKH], [LaChuNhiem], [NhiemVu]) VALUES (1, 1, 1, 1, NULL)
INSERT [dbo].[DSNguoiThamGiaDeTai] ([MaTT], [MaDeTai], [MaNKH], [LaChuNhiem], [NhiemVu]) VALUES (2, 1, 2, 0, NULL)
INSERT [dbo].[DSNguoiThamGiaDeTai] ([MaTT], [MaDeTai], [MaNKH], [LaChuNhiem], [NhiemVu]) VALUES (3, 2, 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[DSNguoiThamGiaDeTai] OFF
SET IDENTITY_INSERT [dbo].[DSPhatMinhNKH] ON 

INSERT [dbo].[DSPhatMinhNKH] ([MaTT], [MaNKH], [MaPM], [LaChuSoHuu], [VaiTro]) VALUES (1, 1, 1, 1, N'Nghiên cứu định hướng')
INSERT [dbo].[DSPhatMinhNKH] ([MaTT], [MaNKH], [MaPM], [LaChuSoHuu], [VaiTro]) VALUES (2, 3, 1, 0, N'Hỗ trợ công tác thiết kế')
INSERT [dbo].[DSPhatMinhNKH] ([MaTT], [MaNKH], [MaPM], [LaChuSoHuu], [VaiTro]) VALUES (3, 2, 1, 1, N'Phân đoạn, nguồn vôn đầu tư')
SET IDENTITY_INSERT [dbo].[DSPhatMinhNKH] OFF
SET IDENTITY_INSERT [dbo].[DSTacGia] ON 

INSERT [dbo].[DSTacGia] ([MaTT], [MaSach], [MaNKH], [LaChuBien], [PhanCong]) VALUES (1, 1, 1, 1, NULL)
INSERT [dbo].[DSTacGia] ([MaTT], [MaSach], [MaNKH], [LaChuBien], [PhanCong]) VALUES (2, 2, 1, 1, NULL)
INSERT [dbo].[DSTacGia] ([MaTT], [MaSach], [MaNKH], [LaChuBien], [PhanCong]) VALUES (3, 3, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[DSTacGia] OFF
SET IDENTITY_INSERT [dbo].[HocHam] ON 

INSERT [dbo].[HocHam] ([MaHocHam], [TenVietTat], [TenHocHam]) VALUES (1, N'PGS', N'Phó giáo sư')
INSERT [dbo].[HocHam] ([MaHocHam], [TenVietTat], [TenHocHam]) VALUES (2, N'GS', N'Giáo sư')
INSERT [dbo].[HocHam] ([MaHocHam], [TenVietTat], [TenHocHam]) VALUES (3, N'GSDD', N'Giáo sư danh dự')
SET IDENTITY_INSERT [dbo].[HocHam] OFF
SET IDENTITY_INSERT [dbo].[HocVi] ON 

INSERT [dbo].[HocVi] ([MaHocVi], [TenVietTat], [TenHocVi]) VALUES (1, N'PT', N'Phổ thông')
INSERT [dbo].[HocVi] ([MaHocVi], [TenVietTat], [TenHocVi]) VALUES (2, N'TC', N'Trung Cấp')
INSERT [dbo].[HocVi] ([MaHocVi], [TenVietTat], [TenHocVi]) VALUES (3, N'CD', N'Cao đẳng')
SET IDENTITY_INSERT [dbo].[HocVi] OFF
SET IDENTITY_INSERT [dbo].[KinhPhiDeTai] ON 

INSERT [dbo].[KinhPhiDeTai] ([MaPhi], [MaDeTai], [LoaiKinhPhi], [NamTiepNhan], [SoTien], [LoaiTien]) VALUES (1, 1, N'Vốn trong nước, cấp vốn đợt 1', CAST(0x853C0B00 AS Date), 3000, N'USD')
INSERT [dbo].[KinhPhiDeTai] ([MaPhi], [MaDeTai], [LoaiKinhPhi], [NamTiepNhan], [SoTien], [LoaiTien]) VALUES (2, 1, N'Vốn cá nhân', CAST(0xB63D0B00 AS Date), 5000000, N'VND')
INSERT [dbo].[KinhPhiDeTai] ([MaPhi], [MaDeTai], [LoaiKinhPhi], [NamTiepNhan], [SoTien], [LoaiTien]) VALUES (3, 1, N'Doanh nghiệp A tài trợ', CAST(0xA93E0B00 AS Date), 3000000, N'VND')
SET IDENTITY_INSERT [dbo].[KinhPhiDeTai] OFF
SET IDENTITY_INSERT [dbo].[LinhVuc] ON 

INSERT [dbo].[LinhVuc] ([MaLinhVuc], [TenLinhVuc], [MaNhomLinhVuc]) VALUES (1, N'TOÁN HỌC VÀ THỐNG KÊ', 1)
INSERT [dbo].[LinhVuc] ([MaLinhVuc], [TenLinhVuc], [MaNhomLinhVuc]) VALUES (2, N'KHOA HỌC MÁY TÍNH VÀ THÔNG TIN', 1)
INSERT [dbo].[LinhVuc] ([MaLinhVuc], [TenLinhVuc], [MaNhomLinhVuc]) VALUES (3, N'VẬT LÝ', 1)
SET IDENTITY_INSERT [dbo].[LinhVuc] OFF
INSERT [dbo].[LinhVucBaiBao] ([MaBaiBao], [MaLinhVuc]) VALUES (1, 10)
INSERT [dbo].[LinhVucBaiBao] ([MaBaiBao], [MaLinhVuc]) VALUES (1, 25)
INSERT [dbo].[LinhVucBaiBao] ([MaBaiBao], [MaLinhVuc]) VALUES (2, 30)
INSERT [dbo].[LinhVucNghienCuuNKH] ([MaNKH], [MaLinhVuc]) VALUES (1, 3)
INSERT [dbo].[LinhVucNghienCuuNKH] ([MaNKH], [MaLinhVuc]) VALUES (1, 8)
INSERT [dbo].[LinhVucNghienCuuNKH] ([MaNKH], [MaLinhVuc]) VALUES (1, 9)
SET IDENTITY_INSERT [dbo].[LoaiHinhDeTai] ON 

INSERT [dbo].[LoaiHinhDeTai] ([MaLoaiDT], [TenLoaiDT]) VALUES (1, N'Cơ bản')
INSERT [dbo].[LoaiHinhDeTai] ([MaLoaiDT], [TenLoaiDT]) VALUES (2, N'Ứng dụng')
SET IDENTITY_INSERT [dbo].[LoaiHinhDeTai] OFF
SET IDENTITY_INSERT [dbo].[NgachVienChuc] ON 

INSERT [dbo].[NgachVienChuc] ([MaNgach], [TenNgach]) VALUES (1, N'Giảng viên')
INSERT [dbo].[NgachVienChuc] ([MaNgach], [TenNgach]) VALUES (2, N'Giảng viên chính')
INSERT [dbo].[NgachVienChuc] ([MaNgach], [TenNgach]) VALUES (3, N'Giảng viên cao cấp')
SET IDENTITY_INSERT [dbo].[NgachVienChuc] OFF
SET IDENTITY_INSERT [dbo].[NganHang] ON 

INSERT [dbo].[NganHang] ([MaNH], [TenNH], [TenTiengAnh], [TenVietTat], [Website]) VALUES (1, N'Ngân hàng Chính sách xã hội', N'Vietnam Bank for Social Policies', N'NHCSXH/VBSP', N'vbsp.org.vn')
INSERT [dbo].[NganHang] ([MaNH], [TenNH], [TenTiengAnh], [TenVietTat], [Website]) VALUES (2, N'Ngân hàng Phát triển Việt Nam', N'Vietnam Development Bank', N'VDB', N'vdb.gov.vn')
INSERT [dbo].[NganHang] ([MaNH], [TenNH], [TenTiengAnh], [TenVietTat], [Website]) VALUES (3, N'Ngân hàng Xây dựng', N'Construction Bank', N'CB', N'cbbank.vn')
SET IDENTITY_INSERT [dbo].[NganHang] OFF
INSERT [dbo].[NganHangNKH] ([MaNKH], [STKNH], [MaNH], [ChiNhanhNH], [GhiChu]) VALUES (1, N'20192341', 1, N'An Đông', N'Thẻ Visa')
INSERT [dbo].[NganHangNKH] ([MaNKH], [STKNH], [MaNH], [ChiNhanhNH], [GhiChu]) VALUES (2, N'09814238', 8, N'Bình Điền', NULL)
INSERT [dbo].[NganHangNKH] ([MaNKH], [STKNH], [MaNH], [ChiNhanhNH], [GhiChu]) VALUES (3, N'092736234', 22, N'Quận 1', NULL)
SET IDENTITY_INSERT [dbo].[NganhDaoTao] ON 

INSERT [dbo].[NganhDaoTao] ([MaNganhDaoTao], [TenNganhDaoTao]) VALUES (1, N'Công Nghệ Thông Tin')
INSERT [dbo].[NganhDaoTao] ([MaNganhDaoTao], [TenNganhDaoTao]) VALUES (2, N'Hóa')
INSERT [dbo].[NganhDaoTao] ([MaNganhDaoTao], [TenNganhDaoTao]) VALUES (3, N'Sinh')
SET IDENTITY_INSERT [dbo].[NganhDaoTao] OFF
SET IDENTITY_INSERT [dbo].[NgoaiNguNKH] ON 

INSERT [dbo].[NgoaiNguNKH] ([ID], [MaNKH], [MaTrinhDoNN], [Doc], [Viet], [Noi]) VALUES (1, 1, 8, 4, 3, 4)
INSERT [dbo].[NgoaiNguNKH] ([ID], [MaNKH], [MaTrinhDoNN], [Doc], [Viet], [Noi]) VALUES (2, 1, 10, 3, 3, 3)
INSERT [dbo].[NgoaiNguNKH] ([ID], [MaNKH], [MaTrinhDoNN], [Doc], [Viet], [Noi]) VALUES (3, 2, 2, 4, 3, 3)
SET IDENTITY_INSERT [dbo].[NgoaiNguNKH] OFF
INSERT [dbo].[NguoiDung] ([Usernames], [Passwords], [MaNKH], [MaChucNang], [DateCreate], [LastLogin], [IsActive], [UsernamesQL], [RandomKey]) VALUES (N'admin', 0x6531306164633339343962613539616262653536653035376632306638383365, 1, 1, CAST(0x0000A9DA00000000 AS DateTime), CAST(0x0000AA0200000000 AS DateTime), 1, N'admin', NULL)
INSERT [dbo].[NguoiDung] ([Usernames], [Passwords], [MaNKH], [MaChucNang], [DateCreate], [LastLogin], [IsActive], [UsernamesQL], [RandomKey]) VALUES (N'dev', 0x6531306164633339343962613539616262653536653035376632306638383365, NULL, 1, CAST(0x0000AA0C00000000 AS DateTime), CAST(0x0000AA0C00000000 AS DateTime), 0, N'admin', NULL)
INSERT [dbo].[NguoiDung] ([Usernames], [Passwords], [MaNKH], [MaChucNang], [DateCreate], [LastLogin], [IsActive], [UsernamesQL], [RandomKey]) VALUES (N'user1', 0x6531306164633339343962613539616262653536653035376632306638383365, 2, 2, CAST(0x0000A9F000000000 AS DateTime), CAST(0x0000AA0300000000 AS DateTime), 1, N'admin', NULL)
SET IDENTITY_INSERT [dbo].[NhaKhoaHoc] ON 

INSERT [dbo].[NhaKhoaHoc] ([MaNKH], [MaNKHHoSo], [HoNKH], [TenNKH], [GioiTinhNKH], [NgaySinh], [DiaChiLienHe], [DienThoai], [EmailLienHe], [MaHocHam], [MaHocVi], [MaCNDaoTao], [MaDonViQL], [AnhCaNhan], [MaNgachVienChuc]) VALUES (1, N'400000.0067', N'Đặng Thị Thuận', N'An', N'Nữ', CAST(0x0000654C00000000 AS DateTime), N'10 B Kiệt 25 Hai Bà Trưng, Thành phố Huế, Thừa Thiên Huế , Thừa Thiên Huế .', N'0913465444', N'dangthithuanan@yahoo.com', 1, 6, 1, N'1', NULL, 1)
INSERT [dbo].[NhaKhoaHoc] ([MaNKH], [MaNKHHoSo], [HoNKH], [TenNKH], [GioiTinhNKH], [NgaySinh], [DiaChiLienHe], [DienThoai], [EmailLienHe], [MaHocHam], [MaHocVi], [MaCNDaoTao], [MaDonViQL], [AnhCaNhan], [MaNgachVienChuc]) VALUES (3, N'100723.0018', N'Kim Hoàng', N'Lộc', N'Nam', CAST(0x0000818E00000000 AS DateTime), N'123 Đường ABC, P1, Q8', N'0912023782; 023457899134', N'k@gmail.com; test@gmail.com', 2, 5, 4, N'1', NULL, 2)
SET IDENTITY_INSERT [dbo].[NhaKhoaHoc] OFF
INSERT [dbo].[NhaKhoaHoc_KH] ([MaNKH], [HuongNghienCuu], [GiaiThuong], [ThamGiaToChu]) VALUES (1, N'hướng tập trung cho các lĩnh vực A, B, C', N'nghiên cứu khoa học cấp bộ', N'không tham gia')
INSERT [dbo].[NhaKhoaHoc_KH] ([MaNKH], [HuongNghienCuu], [GiaiThuong], [ThamGiaToChu]) VALUES (2, N'lĩnh vực A, lĩnh vực B, lĩnh vực C', N'giải thưởng', N'tổ chức nghiên cứu khoa học, văn phòng khoa học trường')
INSERT [dbo].[NhaKhoaHoc_KH] ([MaNKH], [HuongNghienCuu], [GiaiThuong], [ThamGiaToChu]) VALUES (3, N'lĩnh vực A, lĩnh vực D, lĩnh vưc E', N'giải thưởng', N'công ty TNHH Phát triển kỹ năng')
SET IDENTITY_INSERT [dbo].[NhaXuatBan] ON 

INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [DiaChiNXB], [DienThoaiNXB], [DiaChiWeb]) VALUES (1, N'NXB ĐH Sư Phạm TpHCM', N'280 ADV P4 Q5', N'081234567', N'hcmup.edu.vn')
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [DiaChiNXB], [DienThoaiNXB], [DiaChiWeb]) VALUES (2, N'NXB Kim Đồng', N'Cống Quỳnh, Q1', N'081280923', N'kimdong.vn')
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [DiaChiNXB], [DienThoaiNXB], [DiaChiWeb]) VALUES (3, N'NXB Hoa Học Trò', N'Phạm Ngũ Lão, Q1', N'084567810', N'hoahoctro.vn')
SET IDENTITY_INSERT [dbo].[NhaXuatBan] OFF
SET IDENTITY_INSERT [dbo].[NhomLinhVuc] ON 

INSERT [dbo].[NhomLinhVuc] ([MaNhomLinhVuc], [TenNhomLinhVuc]) VALUES (1, N'KHOA HỌC TỰ NHIÊN')
INSERT [dbo].[NhomLinhVuc] ([MaNhomLinhVuc], [TenNhomLinhVuc]) VALUES (2, N'KHOA HỌC XÃ HỘI')
INSERT [dbo].[NhomLinhVuc] ([MaNhomLinhVuc], [TenNhomLinhVuc]) VALUES (3, N'KHOA HỌC NHÂN VĂN')
SET IDENTITY_INSERT [dbo].[NhomLinhVuc] OFF
SET IDENTITY_INSERT [dbo].[PhanLoaiSach] ON 

INSERT [dbo].[PhanLoaiSach] ([MaLoai], [TenLoai]) VALUES (1, N'Sách chuyên khảo')
INSERT [dbo].[PhanLoaiSach] ([MaLoai], [TenLoai]) VALUES (2, N'Giáo trình')
INSERT [dbo].[PhanLoaiSach] ([MaLoai], [TenLoai]) VALUES (3, N'Sách tham khảo')
SET IDENTITY_INSERT [dbo].[PhanLoaiSach] OFF
SET IDENTITY_INSERT [dbo].[PhanLoaiSP] ON 

INSERT [dbo].[PhanLoaiSP] ([MaPhanLoai], [TenPhanLoai]) VALUES (1, N'Mẫu')
INSERT [dbo].[PhanLoaiSP] ([MaPhanLoai], [TenPhanLoai]) VALUES (2, N'Chương trình máy tính')
INSERT [dbo].[PhanLoaiSP] ([MaPhanLoai], [TenPhanLoai]) VALUES (3, N'Phưng pháp')
SET IDENTITY_INSERT [dbo].[PhanLoaiSP] OFF
SET IDENTITY_INSERT [dbo].[PhanLoaiTapChi] ON 

INSERT [dbo].[PhanLoaiTapChi] ([MaLoaiTapChi], [TenLoaiTapChi]) VALUES (1, N'Tạp chí')
INSERT [dbo].[PhanLoaiTapChi] ([MaLoaiTapChi], [TenLoaiTapChi]) VALUES (2, N'Báo cáo khoa học')
INSERT [dbo].[PhanLoaiTapChi] ([MaLoaiTapChi], [TenLoaiTapChi]) VALUES (3, N'Thông báo khoa học')
SET IDENTITY_INSERT [dbo].[PhanLoaiTapChi] OFF
SET IDENTITY_INSERT [dbo].[PhatMinhGiaiPhap] ON 

INSERT [dbo].[PhatMinhGiaiPhap] ([MaPM], [TenPM], [SoHieuPM], [MotaPM], [DoiTuongSuDung], [QuocGiaCap], [LinkLienKet], [AnhScanGiayChungNhan], [AnhChupSanPham1], [AnhChupSanPham2]) VALUES (1, N'Kỹ thuật đánh chữ nổi bằng thiết bị cầm tay', N'PM901-20', N'Hỗ trợ người mù', N'Dành cho người mù, người bình thường', N'Việt Nam', NULL, NULL, NULL, NULL)
INSERT [dbo].[PhatMinhGiaiPhap] ([MaPM], [TenPM], [SoHieuPM], [MotaPM], [DoiTuongSuDung], [QuocGiaCap], [LinkLienKet], [AnhScanGiayChungNhan], [AnhChupSanPham1], [AnhChupSanPham2]) VALUES (2, N'Mô hình chưng cất nước sạch từ không khí', N'H20-PM-2019', N'Tái tạo nước từ không khí', N'Hộ gia đình', N'Việt Nam', NULL, NULL, NULL, NULL)
INSERT [dbo].[PhatMinhGiaiPhap] ([MaPM], [TenPM], [SoHieuPM], [MotaPM], [DoiTuongSuDung], [QuocGiaCap], [LinkLienKet], [AnhScanGiayChungNhan], [AnhChupSanPham1], [AnhChupSanPham2]) VALUES (3, N'Phát triển dịch vụ xe ôm công nghệ', N'PM-Grab1029', N'Di chuyển tiện lợi, biết trước giá', N'Người lao động', N'Việt Nam', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PhatMinhGiaiPhap] OFF
SET IDENTITY_INSERT [dbo].[QuaTrinhCongTac] ON 

INSERT [dbo].[QuaTrinhCongTac] ([MaCT], [MaNKH], [ThoiGianBD], [ThoiGIanKT], [TenCoQuan], [TenPhongBan], [DiaChiQoQuan], [TinhTP], [ChucVuCT]) VALUES (1, 1, CAST(0x0000988A00000000 AS DateTime), CAST(0x00009A3500000000 AS DateTime), N'ĐH Sư phạm', N'Khoa CNTT', N'280 P4 Q5', N'Hồ Chí Minh', N'Chuyên viên')
INSERT [dbo].[QuaTrinhCongTac] ([MaCT], [MaNKH], [ThoiGianBD], [ThoiGIanKT], [TenCoQuan], [TenPhongBan], [DiaChiQoQuan], [TinhTP], [ChucVuCT]) VALUES (2, 1, CAST(0x00009A5200000000 AS DateTime), CAST(0x0000A9DD00000000 AS DateTime), N'ĐH Sư phạm', N'Khoa CNTT', N'280 P4 Q5', N'Hồ Chí Minh', N'Trưởng bộ môn')
INSERT [dbo].[QuaTrinhCongTac] ([MaCT], [MaNKH], [ThoiGianBD], [ThoiGIanKT], [TenCoQuan], [TenPhongBan], [DiaChiQoQuan], [TinhTP], [ChucVuCT]) VALUES (3, 2, CAST(0x00009BBF00000000 AS DateTime), CAST(0x00009D2C00000000 AS DateTime), N'THPT Chu Văn An', N'Tổ bộ môn Xã Hội', N'290/3H Đinh Bộ Lĩnh', N'Hồ Chí Minh', N'Giáo viên')
SET IDENTITY_INSERT [dbo].[QuaTrinhCongTac] OFF
SET IDENTITY_INSERT [dbo].[QuaTrinhDaoTao] ON 

INSERT [dbo].[QuaTrinhDaoTao] ([MaQT], [MaNKH], [ThoiGianBD], [ThoiGianKT], [MaHocVi], [CoSoDaoTao], [MaNganh]) VALUES (1, 1, CAST(0x0000813D00000000 AS DateTime), CAST(0x0000858500000000 AS DateTime), 1, NULL, 1)
INSERT [dbo].[QuaTrinhDaoTao] ([MaQT], [MaNKH], [ThoiGianBD], [ThoiGianKT], [MaHocVi], [CoSoDaoTao], [MaNganh]) VALUES (2, 1, CAST(0x000085C100000000 AS DateTime), CAST(0x0000887D00000000 AS DateTime), 2, NULL, 1)
SET IDENTITY_INSERT [dbo].[QuaTrinhDaoTao] OFF
SET IDENTITY_INSERT [dbo].[SachGiaoTrinh] ON 

INSERT [dbo].[SachGiaoTrinh] ([MaSach], [MaISBN], [TenSach], [MaLoai], [MaLinhVuc], [MaNXB], [NamXuatBan], [Mota], [AnhBia1], [AnhBia4], [AnhBiaISBN]) VALUES (1, N'978-604-974-087-9', N'Giáo trình Thực hành Sinh lý thực vật', 2, 34, 1, CAST(0x503F0B00 AS Date), N'Sinh lý học', NULL, NULL, NULL)
INSERT [dbo].[SachGiaoTrinh] ([MaSach], [MaISBN], [TenSach], [MaLoai], [MaLinhVuc], [MaNXB], [NamXuatBan], [Mota], [AnhBia1], [AnhBia4], [AnhBiaISBN]) VALUES (2, N'BTG/ĐN-2019', N'Cuộc kháng chiến chống liên quân Pháp - Tây Ban Nha tại Đà Nẵng (1858-1860)', 1, 17, 2, CAST(0x043F0B00 AS Date), N'Lịch sử', NULL, NULL, NULL)
INSERT [dbo].[SachGiaoTrinh] ([MaSach], [MaISBN], [TenSach], [MaLoai], [MaLinhVuc], [MaNXB], [NamXuatBan], [Mota], [AnhBia1], [AnhBia4], [AnhBiaISBN]) VALUES (3, N'9786047360727', N'Giúp em học tốt Tiếng Anh 4', 3, 10, 1, CAST(0xD43C0B00 AS Date), N'Ngoại ngữ bổ trợ', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SachGiaoTrinh] OFF
SET IDENTITY_INSERT [dbo].[TinhTrangDeTai] ON 

INSERT [dbo].[TinhTrangDeTai] ([MaTinhTrang], [TenTinhTrang]) VALUES (1, N'Đã hoàn thành')
INSERT [dbo].[TinhTrangDeTai] ([MaTinhTrang], [TenTinhTrang]) VALUES (2, N'Đang thực hiện')
SET IDENTITY_INSERT [dbo].[TinhTrangDeTai] OFF
INSERT [dbo].[TrinhDoNgoaiNgu] ([MaTrinhDoNN], [TenTrinhDo], [CapDo]) VALUES (1, N'Tiếng Anh', N'3 năng lực nói đọc viết')
INSERT [dbo].[TrinhDoNgoaiNgu] ([MaTrinhDoNN], [TenTrinhDo], [CapDo]) VALUES (2, N'Tiếng Pháp', N'3 năng lực nói đọc viết')
INSERT [dbo].[TrinhDoNgoaiNgu] ([MaTrinhDoNN], [TenTrinhDo], [CapDo]) VALUES (3, N'Tiếng Đức', N'3 năng lực nói đọc viết')
SET IDENTITY_INSERT [dbo].[XepLoai] ON 

INSERT [dbo].[XepLoai] ([MaXepLoai], [TenXepLoai]) VALUES (1, N'Chưa xếp loại')
INSERT [dbo].[XepLoai] ([MaXepLoai], [TenXepLoai]) VALUES (2, N'Không đạt')
INSERT [dbo].[XepLoai] ([MaXepLoai], [TenXepLoai]) VALUES (3, N'Trung bình')
SET IDENTITY_INSERT [dbo].[XepLoai] OFF
ALTER TABLE [dbo].[BaiBao]  WITH CHECK ADD  CONSTRAINT [FK_BaiBao_CapTapChi] FOREIGN KEY([MaCapTapChi])
REFERENCES [dbo].[CapTapChi] ([MaCapTapChi])
GO
ALTER TABLE [dbo].[BaiBao] CHECK CONSTRAINT [FK_BaiBao_CapTapChi]
GO
ALTER TABLE [dbo].[BaiBao]  WITH CHECK ADD  CONSTRAINT [FK_BaiBao_PhanLoaiTapChi] FOREIGN KEY([MaLoaiTapChi])
REFERENCES [dbo].[PhanLoaiTapChi] ([MaLoaiTapChi])
GO
ALTER TABLE [dbo].[BaiBao] CHECK CONSTRAINT [FK_BaiBao_PhanLoaiTapChi]
GO
ALTER TABLE [dbo].[ChuyenMonNKH]  WITH CHECK ADD  CONSTRAINT [ChuyenMonNKH_fk0] FOREIGN KEY([MaNKH])
REFERENCES [dbo].[NhaKhoaHoc] ([MaNKH])
GO
ALTER TABLE [dbo].[ChuyenMonNKH] CHECK CONSTRAINT [ChuyenMonNKH_fk0]
GO
ALTER TABLE [dbo].[ChuyenMonNKH]  WITH CHECK ADD  CONSTRAINT [ChuyenMonNKH_fk1] FOREIGN KEY([MaChuyenMon])
REFERENCES [dbo].[ChuyenMon] ([MaChuyenMon])
GO
ALTER TABLE [dbo].[ChuyenMonNKH] CHECK CONSTRAINT [ChuyenMonNKH_fk1]
GO
ALTER TABLE [dbo].[ChuyenNganh]  WITH CHECK ADD  CONSTRAINT [ChuyenNganh_fk0] FOREIGN KEY([MaNganhDaoTao])
REFERENCES [dbo].[NganhDaoTao] ([MaNganhDaoTao])
GO
ALTER TABLE [dbo].[ChuyenNganh] CHECK CONSTRAINT [ChuyenNganh_fk0]
GO
ALTER TABLE [dbo].[DeTai]  WITH CHECK ADD  CONSTRAINT [DeTai_fk0] FOREIGN KEY([MaLoaiDeTai])
REFERENCES [dbo].[LoaiHinhDeTai] ([MaLoaiDT])
GO
ALTER TABLE [dbo].[DeTai] CHECK CONSTRAINT [DeTai_fk0]
GO
ALTER TABLE [dbo].[DeTai]  WITH CHECK ADD  CONSTRAINT [DeTai_fk1] FOREIGN KEY([MaCapDeTai])
REFERENCES [dbo].[CapDeTai] ([MaCapDeTai])
GO
ALTER TABLE [dbo].[DeTai] CHECK CONSTRAINT [DeTai_fk1]
GO
ALTER TABLE [dbo].[DeTai]  WITH CHECK ADD  CONSTRAINT [DeTai_fk2] FOREIGN KEY([MaDVChuTri])
REFERENCES [dbo].[DonViChuTri] ([MaDVChuTri])
GO
ALTER TABLE [dbo].[DeTai] CHECK CONSTRAINT [DeTai_fk2]
GO
ALTER TABLE [dbo].[DeTai]  WITH CHECK ADD  CONSTRAINT [DeTai_fk3] FOREIGN KEY([MaDonViQLThucHien])
REFERENCES [dbo].[DonViQL] ([MaDonVi])
GO
ALTER TABLE [dbo].[DeTai] CHECK CONSTRAINT [DeTai_fk3]
GO
ALTER TABLE [dbo].[DeTai]  WITH CHECK ADD  CONSTRAINT [DeTai_fk4] FOREIGN KEY([MaLinhVuc])
REFERENCES [dbo].[LinhVuc] ([MaLinhVuc])
GO
ALTER TABLE [dbo].[DeTai] CHECK CONSTRAINT [DeTai_fk4]
GO
ALTER TABLE [dbo].[DeTai]  WITH CHECK ADD  CONSTRAINT [DeTai_fk5] FOREIGN KEY([MaXepLoai])
REFERENCES [dbo].[XepLoai] ([MaXepLoai])
GO
ALTER TABLE [dbo].[DeTai] CHECK CONSTRAINT [DeTai_fk5]
GO
ALTER TABLE [dbo].[DeTai]  WITH CHECK ADD  CONSTRAINT [DeTai_fk6] FOREIGN KEY([MaTinhTrang])
REFERENCES [dbo].[TinhTrangDeTai] ([MaTinhTrang])
GO
ALTER TABLE [dbo].[DeTai] CHECK CONSTRAINT [DeTai_fk6]
GO
ALTER TABLE [dbo].[DeTai]  WITH CHECK ADD  CONSTRAINT [DeTai_fk7] FOREIGN KEY([MaPhanLoaiSP])
REFERENCES [dbo].[PhanLoaiSP] ([MaPhanLoai])
GO
ALTER TABLE [dbo].[DeTai] CHECK CONSTRAINT [DeTai_fk7]
GO
ALTER TABLE [dbo].[DSBaiBaoDeTai]  WITH CHECK ADD  CONSTRAINT [DSBaiBaoDeTai_fk0] FOREIGN KEY([MaDeTai])
REFERENCES [dbo].[DeTai] ([MaDeTai])
GO
ALTER TABLE [dbo].[DSBaiBaoDeTai] CHECK CONSTRAINT [DSBaiBaoDeTai_fk0]
GO
ALTER TABLE [dbo].[DSBaiBaoDeTai]  WITH CHECK ADD  CONSTRAINT [DSBaiBaoDeTai_fk1] FOREIGN KEY([MaBaiBao])
REFERENCES [dbo].[BaiBao] ([MaBaiBao])
GO
ALTER TABLE [dbo].[DSBaiBaoDeTai] CHECK CONSTRAINT [DSBaiBaoDeTai_fk1]
GO
ALTER TABLE [dbo].[DSNguoiThamGiaBaiBao]  WITH CHECK ADD  CONSTRAINT [DSNguoiThamGiaBaiBao_fk0] FOREIGN KEY([MaBaiBao])
REFERENCES [dbo].[BaiBao] ([MaBaiBao])
GO
ALTER TABLE [dbo].[DSNguoiThamGiaBaiBao] CHECK CONSTRAINT [DSNguoiThamGiaBaiBao_fk0]
GO
ALTER TABLE [dbo].[DSNguoiThamGiaBaiBao]  WITH CHECK ADD  CONSTRAINT [DSNguoiThamGiaBaiBao_fk1] FOREIGN KEY([MaNKH])
REFERENCES [dbo].[NhaKhoaHoc] ([MaNKH])
GO
ALTER TABLE [dbo].[DSNguoiThamGiaBaiBao] CHECK CONSTRAINT [DSNguoiThamGiaBaiBao_fk1]
GO
ALTER TABLE [dbo].[DSNguoiThamGiaDeTai]  WITH CHECK ADD  CONSTRAINT [DSNguoiThamGiaDeTai_fk0] FOREIGN KEY([MaDeTai])
REFERENCES [dbo].[DeTai] ([MaDeTai])
GO
ALTER TABLE [dbo].[DSNguoiThamGiaDeTai] CHECK CONSTRAINT [DSNguoiThamGiaDeTai_fk0]
GO
ALTER TABLE [dbo].[DSNguoiThamGiaDeTai]  WITH CHECK ADD  CONSTRAINT [DSNguoiThamGiaDeTai_fk1] FOREIGN KEY([MaNKH])
REFERENCES [dbo].[NhaKhoaHoc] ([MaNKH])
GO
ALTER TABLE [dbo].[DSNguoiThamGiaDeTai] CHECK CONSTRAINT [DSNguoiThamGiaDeTai_fk1]
GO
ALTER TABLE [dbo].[DSPhatMinhNKH]  WITH CHECK ADD  CONSTRAINT [FK_DSPhatMinh_NKH] FOREIGN KEY([MaNKH])
REFERENCES [dbo].[NhaKhoaHoc] ([MaNKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DSPhatMinhNKH] CHECK CONSTRAINT [FK_DSPhatMinh_NKH]
GO
ALTER TABLE [dbo].[DSPhatMinhNKH]  WITH CHECK ADD  CONSTRAINT [FK_DSPhatMinh_PM] FOREIGN KEY([MaPM])
REFERENCES [dbo].[PhatMinhGiaiPhap] ([MaPM])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DSPhatMinhNKH] CHECK CONSTRAINT [FK_DSPhatMinh_PM]
GO
ALTER TABLE [dbo].[DSTacGia]  WITH CHECK ADD  CONSTRAINT [FK_DSTacGia_NhaKhoaHoc] FOREIGN KEY([MaNKH])
REFERENCES [dbo].[NhaKhoaHoc] ([MaNKH])
GO
ALTER TABLE [dbo].[DSTacGia] CHECK CONSTRAINT [FK_DSTacGia_NhaKhoaHoc]
GO
ALTER TABLE [dbo].[DSTacGia]  WITH CHECK ADD  CONSTRAINT [FK_DSTacGia_SachGiaoTrinh] FOREIGN KEY([MaSach])
REFERENCES [dbo].[SachGiaoTrinh] ([MaSach])
GO
ALTER TABLE [dbo].[DSTacGia] CHECK CONSTRAINT [FK_DSTacGia_SachGiaoTrinh]
GO
ALTER TABLE [dbo].[KinhPhiDeTai]  WITH CHECK ADD  CONSTRAINT [FK_KinhPhiDeTai_DeTai] FOREIGN KEY([MaDeTai])
REFERENCES [dbo].[DeTai] ([MaDeTai])
GO
ALTER TABLE [dbo].[KinhPhiDeTai] CHECK CONSTRAINT [FK_KinhPhiDeTai_DeTai]
GO
ALTER TABLE [dbo].[LinhVuc]  WITH CHECK ADD  CONSTRAINT [LinhVuc_fk0] FOREIGN KEY([MaNhomLinhVuc])
REFERENCES [dbo].[NhomLinhVuc] ([MaNhomLinhVuc])
GO
ALTER TABLE [dbo].[LinhVuc] CHECK CONSTRAINT [LinhVuc_fk0]
GO
ALTER TABLE [dbo].[LinhVucBaiBao]  WITH CHECK ADD  CONSTRAINT [LinhVucBaiBao_fk0] FOREIGN KEY([MaBaiBao])
REFERENCES [dbo].[BaiBao] ([MaBaiBao])
GO
ALTER TABLE [dbo].[LinhVucBaiBao] CHECK CONSTRAINT [LinhVucBaiBao_fk0]
GO
ALTER TABLE [dbo].[LinhVucBaiBao]  WITH CHECK ADD  CONSTRAINT [LinhVucBaiBao_fk1] FOREIGN KEY([MaLinhVuc])
REFERENCES [dbo].[LinhVuc] ([MaLinhVuc])
GO
ALTER TABLE [dbo].[LinhVucBaiBao] CHECK CONSTRAINT [LinhVucBaiBao_fk1]
GO
ALTER TABLE [dbo].[LinhVucNghienCuuNKH]  WITH CHECK ADD  CONSTRAINT [LinhVucNghienCuuNKH_fk0] FOREIGN KEY([MaNKH])
REFERENCES [dbo].[NhaKhoaHoc] ([MaNKH])
GO
ALTER TABLE [dbo].[LinhVucNghienCuuNKH] CHECK CONSTRAINT [LinhVucNghienCuuNKH_fk0]
GO
ALTER TABLE [dbo].[LinhVucNghienCuuNKH]  WITH CHECK ADD  CONSTRAINT [LinhVucNghienCuuNKH_fk1] FOREIGN KEY([MaLinhVuc])
REFERENCES [dbo].[LinhVuc] ([MaLinhVuc])
GO
ALTER TABLE [dbo].[LinhVucNghienCuuNKH] CHECK CONSTRAINT [LinhVucNghienCuuNKH_fk1]
GO
ALTER TABLE [dbo].[NganHangNKH]  WITH CHECK ADD  CONSTRAINT [FK_LoaiNganHang] FOREIGN KEY([MaNH])
REFERENCES [dbo].[NganHang] ([MaNH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NganHangNKH] CHECK CONSTRAINT [FK_LoaiNganHang]
GO
ALTER TABLE [dbo].[NganHangNKH]  WITH CHECK ADD  CONSTRAINT [FK_NganHangNKH] FOREIGN KEY([MaNKH])
REFERENCES [dbo].[NhaKhoaHoc] ([MaNKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NganHangNKH] CHECK CONSTRAINT [FK_NganHangNKH]
GO
ALTER TABLE [dbo].[NgoaiNguNKH]  WITH CHECK ADD  CONSTRAINT [FK_NgoaiNguNKH_DanhGiaDoc] FOREIGN KEY([Doc])
REFERENCES [dbo].[DanhGiaNgoaiNgu] ([MaLoai])
GO
ALTER TABLE [dbo].[NgoaiNguNKH] CHECK CONSTRAINT [FK_NgoaiNguNKH_DanhGiaDoc]
GO
ALTER TABLE [dbo].[NgoaiNguNKH]  WITH CHECK ADD  CONSTRAINT [FK_NgoaiNguNKH_DanhGiaViet] FOREIGN KEY([Viet])
REFERENCES [dbo].[DanhGiaNgoaiNgu] ([MaLoai])
GO
ALTER TABLE [dbo].[NgoaiNguNKH] CHECK CONSTRAINT [FK_NgoaiNguNKH_DanhGiaViet]
GO
ALTER TABLE [dbo].[NgoaiNguNKH]  WITH CHECK ADD  CONSTRAINT [FK_NgoaiNguNKH_NKH] FOREIGN KEY([MaNKH])
REFERENCES [dbo].[NhaKhoaHoc] ([MaNKH])
GO
ALTER TABLE [dbo].[NgoaiNguNKH] CHECK CONSTRAINT [FK_NgoaiNguNKH_NKH]
GO
ALTER TABLE [dbo].[NgoaiNguNKH]  WITH CHECK ADD  CONSTRAINT [FK_NgoaiNguNKH_Noi] FOREIGN KEY([Noi])
REFERENCES [dbo].[DanhGiaNgoaiNgu] ([MaLoai])
GO
ALTER TABLE [dbo].[NgoaiNguNKH] CHECK CONSTRAINT [FK_NgoaiNguNKH_Noi]
GO
ALTER TABLE [dbo].[NgoaiNguNKH]  WITH CHECK ADD  CONSTRAINT [FK_NgoaiNguNKH_NgoaiNgu] FOREIGN KEY([MaTrinhDoNN])
REFERENCES [dbo].[TrinhDoNgoaiNgu] ([MaTrinhDoNN])
GO
ALTER TABLE [dbo].[NgoaiNguNKH] CHECK CONSTRAINT [FK_NgoaiNguNKH_NgoaiNgu]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_ChucNang] FOREIGN KEY([MaChucNang])
REFERENCES [dbo].[ChucNang] ([MaChucNang])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_ChucNang]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_NKH] FOREIGN KEY([MaNKH])
REFERENCES [dbo].[NhaKhoaHoc] ([MaNKH])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_NKH]
GO
ALTER TABLE [dbo].[NhaKhoaHoc]  WITH CHECK ADD  CONSTRAINT [NhaKhoaHoc_fk0] FOREIGN KEY([MaHocHam])
REFERENCES [dbo].[HocHam] ([MaHocHam])
GO
ALTER TABLE [dbo].[NhaKhoaHoc] CHECK CONSTRAINT [NhaKhoaHoc_fk0]
GO
ALTER TABLE [dbo].[NhaKhoaHoc]  WITH CHECK ADD  CONSTRAINT [NhaKhoaHoc_fk1] FOREIGN KEY([MaHocVi])
REFERENCES [dbo].[HocVi] ([MaHocVi])
GO
ALTER TABLE [dbo].[NhaKhoaHoc] CHECK CONSTRAINT [NhaKhoaHoc_fk1]
GO
ALTER TABLE [dbo].[NhaKhoaHoc]  WITH CHECK ADD  CONSTRAINT [NhaKhoaHoc_fk2] FOREIGN KEY([MaCNDaoTao])
REFERENCES [dbo].[ChuyenNganh] ([MaChuyenNganh])
GO
ALTER TABLE [dbo].[NhaKhoaHoc] CHECK CONSTRAINT [NhaKhoaHoc_fk2]
GO
ALTER TABLE [dbo].[NhaKhoaHoc]  WITH CHECK ADD  CONSTRAINT [NhaKhoaHoc_fk3] FOREIGN KEY([MaDonViQL])
REFERENCES [dbo].[DonViQL] ([MaDonVi])
GO
ALTER TABLE [dbo].[NhaKhoaHoc] CHECK CONSTRAINT [NhaKhoaHoc_fk3]
GO
ALTER TABLE [dbo].[NhaKhoaHoc]  WITH CHECK ADD  CONSTRAINT [NhaKhoaHoc_fk4] FOREIGN KEY([MaNgachVienChuc])
REFERENCES [dbo].[NgachVienChuc] ([MaNgach])
GO
ALTER TABLE [dbo].[NhaKhoaHoc] CHECK CONSTRAINT [NhaKhoaHoc_fk4]
GO
ALTER TABLE [dbo].[NhaKhoaHoc_KH]  WITH CHECK ADD  CONSTRAINT [FK_NhaKhoaHoc_KH] FOREIGN KEY([MaNKH])
REFERENCES [dbo].[NhaKhoaHoc] ([MaNKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhaKhoaHoc_KH] CHECK CONSTRAINT [FK_NhaKhoaHoc_KH]
GO
ALTER TABLE [dbo].[QuaTrinhCongTac]  WITH CHECK ADD  CONSTRAINT [QuaTrinhCongTac_fk0] FOREIGN KEY([MaNKH])
REFERENCES [dbo].[NhaKhoaHoc] ([MaNKH])
GO
ALTER TABLE [dbo].[QuaTrinhCongTac] CHECK CONSTRAINT [QuaTrinhCongTac_fk0]
GO
ALTER TABLE [dbo].[QuaTrinhDaoTao]  WITH CHECK ADD  CONSTRAINT [QuaTrinhDaoTao_fk0] FOREIGN KEY([MaNKH])
REFERENCES [dbo].[NhaKhoaHoc] ([MaNKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuaTrinhDaoTao] CHECK CONSTRAINT [QuaTrinhDaoTao_fk0]
GO
ALTER TABLE [dbo].[QuaTrinhDaoTao]  WITH CHECK ADD  CONSTRAINT [QuaTrinhDaoTao_fk1] FOREIGN KEY([MaHocVi])
REFERENCES [dbo].[BacDaoTao] ([MaBacDT])
GO
ALTER TABLE [dbo].[QuaTrinhDaoTao] CHECK CONSTRAINT [QuaTrinhDaoTao_fk1]
GO
ALTER TABLE [dbo].[QuaTrinhDaoTao]  WITH CHECK ADD  CONSTRAINT [QuaTrinhDaoTao_fk2] FOREIGN KEY([MaNganh])
REFERENCES [dbo].[NganhDaoTao] ([MaNganhDaoTao])
GO
ALTER TABLE [dbo].[QuaTrinhDaoTao] CHECK CONSTRAINT [QuaTrinhDaoTao_fk2]
GO
ALTER TABLE [dbo].[SachGiaoTrinh]  WITH CHECK ADD  CONSTRAINT [FK_SachGiaoTrinh_NhaXuatBan] FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NhaXuatBan] ([MaNXB])
GO
ALTER TABLE [dbo].[SachGiaoTrinh] CHECK CONSTRAINT [FK_SachGiaoTrinh_NhaXuatBan]
GO
ALTER TABLE [dbo].[SachGiaoTrinh]  WITH CHECK ADD  CONSTRAINT [SachGiaoTrinh_fk0] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[PhanLoaiSach] ([MaLoai])
GO
ALTER TABLE [dbo].[SachGiaoTrinh] CHECK CONSTRAINT [SachGiaoTrinh_fk0]
GO
ALTER TABLE [dbo].[SachGiaoTrinh]  WITH CHECK ADD  CONSTRAINT [SachGiaoTrinh_fk1] FOREIGN KEY([MaLinhVuc])
REFERENCES [dbo].[LinhVuc] ([MaLinhVuc])
GO
ALTER TABLE [dbo].[SachGiaoTrinh] CHECK CONSTRAINT [SachGiaoTrinh_fk1]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Dùng MD5 hash + randomKey' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NguoiDung', @level2type=N'COLUMN',@level2name=N'Passwords'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Phân quyền chức năng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NguoiDung', @level2type=N'COLUMN',@level2name=N'MaChucNang'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày khởi tạo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NguoiDung', @level2type=N'COLUMN',@level2name=N'DateCreate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Cho biết trạng thái hoạt động. False chưa thê đăng nhập. True hoạt động.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NguoiDung', @level2type=N'COLUMN',@level2name=N'IsActive'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Cho biết Account này do ai tạo ra' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NguoiDung', @level2type=N'COLUMN',@level2name=N'UsernamesQL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'nhận xét theo các mức: A – yếu, B – trung bình, C – khá, D – thành thạo)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrinhDoNgoaiNgu', @level2type=N'COLUMN',@level2name=N'CapDo'
GO
