@model WebQLKhoaHoc.NguoiDung

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminMainPage.cshtml";
}

<h1 class="text-center">Bạn có chắn chắn muốn xóa các thông tin bên dưới?</h1>
<div class="form-horizontal">
    <hr />
    <h1 class="text-center">Thông tin người dùng</h1>
    <br />
    <div class="form-group">
        <div class="col-md-2 col-md-offset-1">
            <h2>Tên Tài Khoản</h2>
        </div>
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.Usernames, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color col-md-offset-8 col-md-8">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
